#advice-section {
    padding: 120px 0;

    .advice-img-container {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 120px;
            left: 37px;
            height: 85%;
            width: 75%;
            border: 8px solid #fcefde;
            border-radius: 200px 10px 10px 10px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 80px;
            right: 161px;
            width: 30px;
            height: 85%;
            background: $color-4;
            border-radius: 0 10px 10px 0;
        }
    }

    .advice-img-bg {
        overflow: hidden;
        position: relative;
        width: 70%;

        &::before {
            content: "";
            position: absolute;
            top: 80px;
            left: 0;
            right: 0;
            bottom: 0;
            background: $color-4;
            border-radius: 200px 0px 0px 10px;
        }

        img {
            max-width: 100%;
            transform: translateX(260px);
            overflow: hidden;
        }
    }

    .advice-content {
        h2 {
            font-size: 40px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 55px;
        }
    }
}

@include xl {
    #advice-section {
        .advice-img-container {
            &::after {
                right: 134px;
            }
        }

        .advice-img-bg {
            img {
                transform: translateX(200px);
            }
        }
    }
}

@include lg {
    #advice-section {
        .advice-img-container {
            &::after {
                right: 107px;
            }
        }

        .advice-img-bg {
            img {
                transform: translateX(150px);
            }
        }

        .advice-content {
            p {
                margin-bottom: 35px;
            }
        }
    }
}

@include md {
    #advice-section {
        padding: 60px 0;

        .advice-img-container {
            &::before {
                top: 70px;
                left: 60px;
            }

            &::after {
                display: none;
            }
        }

        .advice-img-bg {
            margin: 0 auto;
            &::before {
                border-radius: 200px 10px 10px 10px;
            }
            img {
                transform: translateX(92px);
            }
        }

        .advice-content {
            h2 {
                font-size: 35px;
                line-height: 45px;
            }
        }
    }
}

@include sm {
    #advice-section {
        .advice-img-container {
            margin-bottom: 70px;
            &::before {
                width: 100%;
                left: 25px;
                top: 110px;
            }
        }

        .advice-img-bg {
            width: 100%;

            img {
                transform: translateX(85px);
            }
        }
        .advice-content {
            h2 {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
}

@include xs {
    #advice-section {
        .advice-img-container {
            &::before {
                top: 112px;
                left: 10px;
            }
        }
        .advice-img-bg {
            &::before {
                width: 95%;
            }
            img {
                transform: translateX(60px);
            }
        }
    }
}

@include xxs {
    #advice-section {
        .advice-img-container {
            margin-bottom: 55px;

            &::before {
                top: 92px;
            }
        }

        .advice-img-bg {
            img {
                transform: translateX(15px);
                max-width: 90%;
            }
        }
    }
}
