#advice-section {
    padding: 120px 0;

    .advice-content {
        h2 {
            font-size: 40px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 55px;
        }
    }
}

@include lg {
    #advice-section {
        .advice-content {
            p {
                margin-bottom: 35px;
            }
        }
    }
}

@include md {
    #advice-section {
        padding: 60px 0;
        .advice-content {
            h2 {
                font-size: 35px;
                line-height: 45px;
            }
        }
    }
}

@include md {
    #advice-section {
        .advice-content {
            h2 {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
}
