footer {
    padding: 120px 0;
    background: $color-4;

    .footer-widget {
        h4 {
            margin-bottom: 15px;
            text-transform: capitalize;
        }
        p {
            color: $main-color;
        }
        li {
            margin-bottom: 0px;
        }
        a {
            color: $main-color;
            &:hover {
                font-weight: 700;
            }
        }

        .socials {
            margin-top: 20px;
            i {
                margin-right: 30px;
            }
        }
    }
}

@include md {
    footer {
        padding: 60px 0;
        .footer-widget {
            text-align: center;

            .socials {
                i {
                    margin: 0px 15px;
                }
            }
        }
    }
}

@include xxs {
    footer {
        .footer-widget {
            h4 {
                margin-bottom: 10px;
            }
            a {
                font-size: 16px;
            }
        }
        .row > * {
            margin-top: 25px;
        }
    }
}
