/*-----------!-------HEADER SECTION STYLE-------!-----------*/
header {
    background-color: $color-2;
    padding: 35px 0 0;

    .nav-item {
        margin-right: 70px;
        a {
            color: $color-3;
            text-transform: capitalize;
            border-bottom: 5px solid transparent;
            &:hover {
                border-bottom: 5px solid #fff;
                color: $main-color;
            }
        }
    }
}
