/*-----------!-------HERO SECTION STYLE-------!-----------*/
#hero-section {
    background-color: $color-2;
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        bottom: 0;
        left: 0;
        background-color: $color-2;
        z-index: -1;
    }

    .hero-content {
        padding: 120px 0;
        position: relative;
        z-index: 2;

        h1 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 38px;
        }
    }
    .hero-img {
        img {
            max-width: 100%;
            margin-left: -273px;
            position: relative;
            z-index: -2;
        }
    }
}

@include xl {
    #hero-section {
        .hero-img {
            img {
                margin-left: -260px;
            }
        }
    }
}
