#item-section {
    padding: 120px 0;
    background-color: $color-2;
    text-align: center;

    .section-heading {
        margin-bottom: 80px;
    }

    .single-item {
        text-align: left;
        &:hover {
            .single-item-img {
                box-shadow: 10px 10px 15px #00000029;
            }
        }
    }

    .single-item-img {
        background: #fff;
        border-radius: 20px;
        padding: 40px 10px;
        margin-bottom: 30px;
        transition: all 0.4s ease;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .btn-custom {
        margin-top: 40px;
        i {
            color: #00c5ee;
        }
    }
}

@include xl {
    #item-section {
        .section-heading {
            h2 {
                font-size: 35px;
                line-height: 45px;
            }
        }
    }
}

@include lg {
    #item-section {
        .single-item {
            h4 {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}

@include md {
    #item-section {
        padding: 60px 0;
        .section-heading {
            margin-bottom: 50px;
            h2 {
                font-size: 35px;
                line-height: 45px;
            }
        }
    }
}

@include sm {
    #item-section {
        .section-heading {
            h2 {
                // font-size: 30px;
                // line-height: 40px;
            }
        }
        .single-item {
            margin-bottom: 20px;
        }
    }
}

@include xxs {
    #item-section {
        .section-heading {
            h2 {
                font-size: 25px;
                line-height: 35px;
            }
        }
        .single-item {
            h4 {
                font-size: 15px;
                line-height: 25px;
            }
        }
        .single-item-img {
            margin-bottom: 10px;
        }
    }
}
