#newsletter-section {
    .section-heading {
        h2 {
            margin-bottom: 14px;
        }
        p {
            line-height: 35px;
        }

        .btn-custom {
            margin-top: 28px;
        }
    }
    .newsletter-bg {
        padding: 50px 0;
        border-radius: 35px;
        background-color: $color-2;
    }
}

@include xl {
    #newsletter-section {
        .section-heading {
            h2 {
                font-size: 35px;
                line-height: 45px;
            }

            .btn-custom {
                margin-top: 15px;
            }
        }
    }
}

@include lg {
    #newsletter-section {
        .newsletter-bg {
            padding: 35px 0;
        }
    }
}

@include md {
    #newsletter-section {
        .section-heading {
            h2 {
                font-size: 35px;
                line-height: 45px;
            }
        }
    }
}

@include xs {
    #newsletter-section {
        .section-heading {
            h2 {
                font-size: 25px;
                line-height: 35px;
            }

            p {
                line-height: 30px;
            }
        }
    }
}
