#product-section {
    padding: 120px 0;

    .single-product {
        margin-bottom: 50px;
        text-align: center;
        transition: all 0.4s ease;
        &:hover {
            h4 {
                opacity: 0;
            }

            .single-product-info {
                opacity: 1;
            }

            .single-product-img::after {
                opacity: 1;
            }
        }

        h4 {
            transition: all 0.4s ease;
        }
    }

    .single-product-img {
        background-color: $color-4;
        border-radius: 25px;
        margin-bottom: 34px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, #fff8ee4d, #fff8ee);
            border-radius: 25px;
            opacity: 0;
            transition: all 0.4s ease;
        }

        img {
            max-width: 100%;
            border-radius: 25px;
        }
    }

    .single-product-info {
        position: absolute;
        bottom: 10px;
        left: 40px;
        text-align: left;
        z-index: 1;
        opacity: 0;
        transition: all 0.4s ease;

        span {
            display: block;
            font-weight: 700;
            color: $main-color;
            font-size: 25px;
        }

        .product-price {
            color: $color-3;
        }
    }
}
