#product-section {
    padding: 120px 0;
    .section-heading {
        margin-bottom: 70px;
    }
    .single-product {
        margin-bottom: 50px;
        text-align: center;
        transition: all 0.4s ease;
        &:hover {
            h4 {
                opacity: 0;
            }

            .single-product-info {
                opacity: 1;
            }

            .single-product-img::after {
                opacity: 1;
            }
        }

        h4 {
            transition: all 0.4s ease;
        }
    }

    .single-product-img {
        background-color: $color-2;
        border-radius: 25px;
        margin-bottom: 34px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, #fff8ee13, $color-2);
            border-radius: 25px;
            opacity: 0;
            transition: all 0.4s ease;
        }

        img {
            max-width: 100%;
            border-radius: 25px;
        }
    }

    .single-product-info {
        position: absolute;
        bottom: 10px;
        left: 40px;
        text-align: left;
        z-index: 1;
        opacity: 0;
        transition: all 0.4s ease;

        span {
            display: block;
            font-weight: 700;
            color: $main-color;
            font-size: 25px;
        }

        .product-price {
            color: $color-3;
        }
    }
}

@include xl {
    #product-section {
        .section-heading {
            h2 {
                font-size: 35px;
                line-height: 45px;
            }
        }
    }
}

@include lg {
    #product-section {
        .single-product {
            h4 {
                font-size: 20px;
                line-height: 30px;
            }
        }
        .single-product-info {
            span {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}

@include md {
    #product-section {
        padding: 60px 0;
        .section-heading {
            h2 {
                font-size: 35px;
                line-height: 45px;
            }
        }

        .single-product-img {
            margin-bottom: 15px;
        }
    }
}

@include sm {
    #product-section {
        .section-heading {
            margin-bottom: 45px;
            h2 {
                // font-size: 30px;
                // line-height: 40px;
            }
        }

        .single-product {
            margin-bottom: 35px;
        }
    }
}

@include xxs {
    #product-section {
        .section-heading {
            h2 {
                font-size: 25px;
                line-height: 35px;
            }
        }
        .single-product {
            h4 {
                font-size: 15px;
                line-height: 25px;
            }
        }
        .single-product-info {
            span {
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
}
