/*-----------------------------------------------Typography-----------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: $main-color;
}

h1 {
    font-size: 85px;
    line-height: 90px;
}

h2 {
    font-size: 45px;
    line-height: 55px;
}

h3 {
    font-size: 40px;
    line-height: 50px;
}

h4 {
    font-size: 25px;
    line-height: 35px;
}

h5 {
    font-size: 20px;
    line-height: 30px;
}

h6 {
    font-size: 14px;
    line-height: 18px;
}

p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $color-3;
    margin-bottom: 10px;
}
